@charset "utf-8";

    from {
    width: 1024px;
    padding: 42px;
      display:flex; justify-content:center;
       /*outline: 1px solid red;*/
    }
    .notice-wrap * {
      /* outline: 1px solid red;*/
      box-sizing: border-box;
    }
    .notice-wrap {
     width: 940px;
    }

    .notice-wrap .notice-title {
     text-align: center;
     padding: 20px 0;
    }

    .notice-wrap .notice-content table {
      width: 100%;
      border-top: 2px solid #333;
      border-bottom: 2px solid #333;
      border-collapse: collapse;
    }

    .notice-wrap .notice-content table th,
    .notice-wrap .notice-content table td {
      border-bottom: 1px solid #333;

    }

    .notice-wrap .notice-content table>thead>tr th:nth-child(2) {
      width: 50%;
    }

   #notice-name,
   #notice-date{
          text-align: center;
   }

  .notice-wrap .notice-content table>tbody>tr>td:first-child,
  .notice-wrap .notice-content table>tbody>tr>td:last-child {
      text-align: center;
  }

  .notice-wrap .notice-btngrp {
      display: flex;
      justify-content: flex-end;
  }

  .notice-wrap .notice-page {
      display: flex;
      justify-content: center;
      padding: 20px 0;
  }


  .notice-wrap .notice-search {
      display: flex;
      justify-content: center;
  }
  a {text-decoration: none; color:inherit;}