<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>booktest 작성하기</title>
  <style>
  div#container{
    width: 800px;
    border: 1px solid #ebecef;
    border-radius: 6px;
    padding: 29px 29px 0;
  }
  textarea{margin-bottom: 10px;}
  button{
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
    padding: 5px 20px;
    border-radius: 6px;
    font-weight: bolder;
    font-size: medium;
  }
  </style>
</head>
<body>
<h3>booktest 작성하기</h3>
<div id="container">
  <form th:method="post" th:object="${addForm}">
    <div>제목<input type="text" th:field="*{title}" placeholder="제목을 입력하세요" autofocus></div>
    <div>내용</div>
    <textarea name="" id="" cols="30" rows="10" th:field="*{thumbnail}" placeholder="내용을 입력하세요"></textarea>
    <div>
      <button type="submit">등록</button>
      <button type="button" onclick="location.href='/booktest'">목록</button>
    </div>
  </form>
</div>
</body>
</html>