<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/mainDetail::main(
        ~{::title},
        _,
        ~{},
        ~{::link},
        ~{::script},
        _,
        _,
        ~{::.form},
        _
      )}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>booktest 상세</title>
  <link rel="stylesheet" th:href="@{/css/booktest/booktest.css}">
  <script defer th:src="@{/js/booktest/reviewDetailForm.js}" th:inline="javascript"></script>
</head>
<body>

<!--form-->
<div class="form" th:data-isbn="${detailForm.isbn}" th:data-login-chk="${!session?.isEmpty()}" th:data-id="${session?.loginMember?.id}" th:data-member-chk="${session?.loginMember?.id}==${detailForm?.rid}">

  <!--wrap-->
  <div class="wrap">

    <!--1. 제목-->
    <h3>booktest 상세</h3>
    <hr>

    <!--2. 수정/삭제 버튼-->
    <div class="button-area">
      <span>
        <div><button onclick="location.href='/booktest'">목록</button></div>
      </span>
    </div>
    <hr>

    <!--3. 게시글 제목-->
    <div class="title-area">
      <div th:text="${detailForm.title}">제목</div>
    </div>
    <hr>

    <!--4. 게시글 본문-->

    
    <table border="1px" height="300" width="300">
      <tr>
        <td  rowspan="2" width="200">
          <img id="imgId" th:src="${detailForm.thumbnail}" alt="표지 이미지" height="300" width="200"  th:if="${detailForm.thumbnail != null}" />
        </td>
        <td width="100" height="100">
          책장 추가
        </td>
      </tr>
      <tr>
        <td>
          사러가기
          <div>
						<a href="https://www.aladin.co.kr/shop/wproduct.aspx?ItemId=291410417">알라딘<img></a><br>
						<a href="http://www.yes24.com/Product/Goods/108179521">예스24<img></a><br>
						<a href="https://digital.kyobobook.co.kr/digital/ebook/ebookDetail.ink?barcode=4801190977594">교보문고<img></a><br>
						<a href="http://www.ypbooks.co.kr/book.yp?bookcd=101162064">영풍문고<img></a><br>
						<a>인터파크<img></a>
					</div>
        </td>
      </tr>
    </table>
    
    <hr>

    <!--5. 댓글-->
    <div class="review-area">





      <div class="review-upper"></div>

      <div class="container review-container">
        
        <table>
            <form action="">
            <tr>
              <td>
                <div th:if="${!session?.isEmpty()}" th:text="${session?.loginMember?.nickname}">닉네임</div>
                <div th:unless="${!session?.isEmpty()}">로그인이 필요한 서비스입니다.</div>
              </td>
              <td>
                <textarea id="reply" name="" cols="40" rows="1" maxlength="30" placeholder="30자 이내로 입력하세요"></textarea>
              </td>
              <td>
                
                <div class="box">
                  <input type="checkbox" id="star-1" data-number="1">
                  <label for="star-1"></label>
                  <input type="checkbox" id="star-2" data-number="2">
                  <label for="star-2"></label>
                  <input type="checkbox" id="star-3" data-number="3">
                  <label for="star-3"></label>
                  <input type="checkbox" id="star-4" data-number="4">
                  <label for="star-4"></label>
                  <input type="checkbox" id="star-5" data-number="5">
                  <label for="star-5"></label>
                </div>
                <div>
                  <span id="number"></span>
                </div>
              
              

              </td>
              <td>
                <button type="submit" id="addBtn" th:data-session="${session?.isEmpty()}">등록</button>
              </td>
            </tr>
            
            
            
            
            
            <!-- <div class="wrap">
              <textarea id="reply" maxlength="30"></textarea>
              <span id="counter">###</span>
            </div> -->
            
            
            
          </form>
        </table>
      </div>

      <div class="review-list">
  <!--      <div class="review-content">-->
  <!--        <div class="review-header"><span>닉네임</span><span><a href="">수정</a><a href="">삭제</a></span></div>-->
  <!--        <div>댓글</div>-->
  <!--        <div><span>날짜</span><a href="">대댓글쓰기</a></div>-->
  <!--      </div>-->
      </div>



    </div>
  </div>
</div>
</body>
</html>