<!DOCTYPE html>
<html lang="ko"
xmlns:th="http://www.thymeleaf.org"
th:replace="~{fragment/mainDetail::main(
              ~{::title},
              _,
              ~{},
              ~{::link},
              ~{::script},
              _,
              _,
              ~{::.form},
              _
            )}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>아아디 / 패스워드 찾기</title>
  <link rel="stylesheet" th:href="@{/css/member/find/findIdPwForm.css}">
  <script defer th:src="@{/js/member/find/findIdPwForm.js}"></script>
</head>
<body>

  <div class="form">

    <div class="findIdPwForm">
      <form action="#" th:action="@{/find/findtest}" th:object="${findTest}" th:method="POST" >

      <div>
        <table>
          <tr>
            <td>
              <input type="radio" name="find_id" id="find_id" onclick="div_show('0');" value="아이디 찾기">
              <label for="find_id"><span>아아디 찾기</span></label>  
            </td>

            <td>
              <input type="radio" name="find_pw" id="find_pw" onclick="div_show('1');" value="비밀번호 찾기">
              <label for="find_pw"><span>비밀번호 찾기</span></label>  
            </td>
          </tr>
        </table>
      </div>


      <div id="find_id_form" style="display:none" >

        
            

          <h3>아이디 찾기</h3>
                                                                                                  
          <table class="findTableForm">        
              <tr>
                <td class="td1"><label>이름</label></td>
                <td class="td2">
                  <div class="textForm">                    
                    <input type="text" id="iname" class="iname" placeholder="이름" th:field="*{iname}"
                     th:class="${#fields.hasErrors('iname') ? 'fieldError' : 'fieldSuccess'}">
                  </div>
                </td>          
                <td class="td3">
                  <p th:if="${#fields.hasErrors('${findTest}')}"></p>
                  <p th:errors="${findTest}" th:errorclass="globalError"></p>
                  
                  <p th:if="${#fields.hasErrors('iname')}"></p>
                  <p th:errors="*{iname}" th:errorclass="fieldError"></p>
                </td>
              </tr>  

            <tr>
              <td><label>email</label></td>
              <td>
                <div class="textForm">
                  <input type="text" id="iemail" class="iemail" placeholder="이메일" th:field=*{iemail}
                   th:class="${#fields.hasErrors('iemail') ? 'fieldError' : 'fieldSuccess'}">
                </div>
              </td>
              <td>
                <p th:if="${#fields.hasErrors('${findTest}')}"></p>
                  <p th:errors="${findTest}" th:errorclass="globalError"></p>
                  
                  <p th:if="${#fields.hasErrors('iemail')}"></p>
                  <p th:errors="*{iemail}" th:errorclass="fieldError"></p>
              </td>
            </tr>

            <tr>
              <td> </td>
              <td><span id="findedId"></span></td>
              <td>  </td>
            </tr>


          </table>


          <br>
          <div class="find_btn_group"> 
            <button id="findIdBtn" type="submit">아아디 찾기</button>
            <button id="cancelBtn" type="button" onclick="location.href='/'">취소</button> 
            <button id="signupBtn" type="button" onclick="location.href='/signup'">회원가입</button> 
          </div>     

      
      </div>


      <div id="find_pw_form" style="display:none">

        
          

          <h3>비밀번호 찾기</h3>
                                                                                                  
          <table class="findTableForm">
            <tr>
              <td class="td1"> 아이디 </td>
              <td class="td2">
                <div class="textForm">
                  <input type="text" id="pid" class="pid" placeholder="아이디" th:field="*{pid}"
                   th:class="${#fields.hasErrors('pid') ? 'fieldError' : 'fieldSuccess'}">
                </div>
              </td>          
              <td class="td3">
                <p th:if="${#fields.hasErrors('${findTest}')}"></p>
                <p th:errors="${findTest}" th:errorclass="globalError"></p>
                
                <p th:if="${#fields.hasErrors('pid')}"></p>
                <p th:errors="*{pid}" th:errorclass="fieldError"></p>
              </td>
            </tr>
            <tr>
              <td><label>이름</label></td>
              <td>
                <div class="textForm">
                  <input type="text" id="pname" class="pname"  placeholder="이름" th:field="*{pname}"
                   th:class="${#fields.hasErrors('pname') ? 'fieldError' : 'fieldSuccess'}">
                </div>
              </td>          
              <td>
                <p th:if="${#fields.hasErrors('${findTest}')}"></p>
                <p th:errors="${findTest}" th:errorclass="globalError"></p>
                
                <p th:if="${#fields.hasErrors('pname')}"></p>
                <p th:errors="*{pname}" th:errorclass="fieldError"></p>
              </td>
            </tr>        
            <tr>
              <td><label>email</label></td>
              <td>
                <div class="textForm">
                  <input type="text" id="pemail" class="pemail" placeholder="이메일" th:field="*{pemail}"
                   th:class="${#fields.hasErrors('pemail') ? 'fieldError' : 'fieldSuccess'}">
                </div>
              </td>
              <td>
                <p th:if="${#fields.hasErrors('${findTest}')}"></p>
                <p th:errors="${findTest}" th:errorclass="globalError"></p>
                
                <p th:if="${#fields.hasErrors('pemail')}"></p>
                <p th:errors="*{pemail}" th:errorclass="fieldError"></p>
              </td>
            </tr>

            
          </table>        

          <br>
          <div class="find_btn_group"> 
            <button id="findPwBtn" type="submit">비밀번호 찾기</button> 
            <button id="cancelBtn" type="button" onclick="location.href='/'">취소</button> 
            <button id="signupBtn" type="button" onclick="location.href='/signup'">회원가입</button> 
          </div>

        
      
      
      
      </div>





    </form>

    </div>







  </div>






  
</body>
</html>