<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/NanumAmSeuTeReuDam.css" rel="stylesheet">
    <title>메인(로그인)</title>
    <link rel="stylesheet" href="css/main/main.css">
</head>
<body>
<div class="upper">
    <div class="upper-second">
        <div class="upper-left">
            <input type="text" name="query" placeholder="도서명" size="50">
            <a href="" th:href="@{./bookapi.html}"><i class="fa-solid fa-magnifying-glass"></i></a>
        </div>
        <!--로그인시-->
        <div class="upper-right" th:if="${!session?.isEmpty()}">
            <span>홍길동1</span>
            <div class="dropdown">
                <span class="dropbtn">MY PAGE</span>
                <div class="dropdown-content">
                    <a th:href="${/member/edit}}">회원정보 변경</a>
                    <a th:href="${/member/memberpw}">비밀번호 변경</a>
                    <a th:href="${/member/out}">회원탈퇴</a>
                </div>
            </div>
            <span class="log"><a th:href="@{/logout}">log-out</a></span>
        </div>
        <!--비로그인시-->
        <div class="upper-right" th:unless="${!session?.isEmpty()}">
            <span>방문을 환영합니다!</span>
            <span><a th:href="@{/login}">log-in</a></span>
            <span><a th:href="@{/signup}">sign-up</a></span>
        </div>

    </div>
</div>
<main>
    <div class="containner">
        <div class="center">
            <div class="center-item1">
                <div class="logo">
                    <img src="img/003.png" alt="" width="500" height="400">
                </div>
            </div>
            <div class="center-item2">
                <div class="category">
                    <a class="icon-1" href=""><i class="fa-solid fa-swatchbook fa-8x"></i></a>
                    <a class="icon-2" href=""><i class="fa-solid fa-calendar-days fa-8x"></i></a>
                    <a class="icon-3" href=""><i class="fa-solid fa-comments fa-8x"></i></a>
                    <a class="icon-4" href=""><i class="fa-solid fa-circle-exclamation fa-8x"></i></a>
                    <a class="icon-5" href=""><i class="fa-solid fa-circle-question fa-8x"></i></a>
                    <a class="icon-6" href=""><i class="fa-solid fa-map-location-dot fa-8x"></i></a>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="footer">
        <span>
            @2022 울산 KH 정보교육원 8기 2팀(장유유서) 팀 프로젝트
        </span>
</div>
<script src="https://kit.fontawesome.com/0ed864a7e5.js" crossorigin="anonymous"></script>
</body>
</html>