<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://hangeul.pstatic.net/hangeul_static/css/NanumAmSeuTeReuDam.css" rel="stylesheet">
    <title>메인(로그인)</title>
    <link rel="stylesheet" href="../../static/css/main/main.css" th:href="@{/css/main/main.css}">
</head>
<body>
<div class="upper">
    <div class="upper-second">
        <div class="upper-left">
            <input type="text" name="query" placeholder="도서명" size="50">
            <a href="" th:href="@{./bookapi.html}"><i class="fa-solid fa-magnifying-glass"></i></a>
        </div>
        <!--로그인시-->
        <th:block th:if="${!session.isEmpty()}">
            <div class="upper-right" th:replace="~{fragment/uppermost::afterLoginUpm}"></div>
        </th:block>
        <!--비로그인시-->
        <th:block th:unless="${!session.isEmpty()}">
            <div class="upper-right" th:replace="~{fragment/uppermost::beforeLoginUpm}"></div>
        </th:block>

    </div>
</div>
<main>
    <div class="containner">
        <div class="center">
            <div class="center-item1">
                <div class="logo">
                    <img src="img/003.png" alt="" width="500" height="400">
                </div>
            </div>
            <div class="center-item2">
                <div class="category">
                    <a class="icon" href="/book/list">
                        <i class="fa-solid fa-swatchbook fa-8x"></i>
                        <p class='explain'>책장</p>
                    </a>
                    <a class="icon" href="/calendar">
                        <i class="fa-solid fa-calendar-days fa-8x"></i>
                        <p class="explain">달력</p>
                    </a>
                    <a class="icon" href="/board/1">
                        <i class="fa-solid fa-comments fa-8x"></i>
                        <p class="explain">게시판</p>
                    </a>
                    <a class="icon" href="/notices/all">
                        <i class="fa-solid fa-circle-exclamation fa-8x"></i>
                        <p class="explain">공지</p>
                    </a>
                    <a class="icon" href="/qna/list">
                        <i class="fa-solid fa-circle-question fa-8x"></i>
                        <p class="explain">Q&A</p>
                    </a>
                    <a class="icon" href="/map">
                        <i class="fa-solid fa-map-location-dot fa-8x"></i>
                        <p class="explain">지도</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</main>
<div class="footer">
        <span>
            @2022 울산 KH 정보교육원 8기 2팀(장유유서) 팀 프로젝트
        </span>
</div>
<script src="https://kit.fontawesome.com/0ed864a7e5.js" crossorigin="anonymous"></script>
</body>
</html>