@charset "utf-8";
.mapSearch{
  display: flex;
}

.place{
  display: flex;
}

#info{
  position: absolute;
  top:100px; left:20px;
  z-index: 1000;
}

.info {
  position:relative;
  width:100%;
  border-radius:6px;
  border: 1px solid #ccc !important;
  border-bottom:2px solid #ddd;
  padding-bottom: 10px;
  background: #fff;
}

#map{
  width:auto; height: 620px;
  position: absolute;
  margin-top: 20px;
}
