<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/mainDetail::main(
        ~{::title},
        _,
        ~{},
        ~{::link},
        ~{::script},
        _,
        _,
        ~{::.form},
        _
      )}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>title</title>
    <link rel="stylesheet" href="../../static/css/book/bookDetail.css" th:href="@{/css/book/bookDetail.css}">
    <script defer th:src="@{/js/book/bookDetail.js}"></script>
</head>
<body>
<div class="form">
    <div class="wrap">

        <h3>독서기록추가</h3>
        <form class="detail-form" id="detailForm" action="" th:action th:method="post" th:object="${detailForm}" th:data-isbn="${detailForm.isbn}" th:data-dsnum="${detailForm.dsnum}">
            <div><label for="">얼마나 읽었나요?</label></div>
            <div><input class="range-bar" id="rangeBar" type="range" th:field="*{dpage}" th:value="*{dpage}" th:max="*{spage}" th:step="1"></div>

            <div><label for="">날짜는?</label></div>
            <div><input class="date" id="date" type="date" th:field="*{ddate}"></div>

            <div><label for="">페이지는?</label></div>
            <div><input class="start-page" id="startPage" type="text" th:field="*{dpage}" th:value="*{dpage}" th:max="*{spage}">/<input class="end-page" id="endPage" type="text" th:value="*{spage}" th:field="*{spage}"></div>
        </form>
        <div class="detail-btngrp">
            <button type="button" class="detail-btn" id="detailBtn">기록추가하기</button>
            <button type="button" class="list-btn" id="listBtn">책장으로</button>
        </div>
        <div>기록목록</div>
        <div class="detail-list" id="detailList">
        </div>
    </div>
</div>
</body>
</html>