<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시글 수정</title>
  <link rel="stylesheet" th:href="@{/css/board/editForm.css}">
  <script defer th:src="@{/js/common/ckeditor.js}"></script>
  <script defer th:src="@{/js/board/editForm.js}"></script>
</head>
<body>
<h3>게시글 수정하기</h3>
<div id="container">
  <form th:method="patch" th:object="${editForm}">
    <div>제목<input type="text" th:field="*{btitle}" autofocus></div>
    <div class="fieldError" th:errors="*{btitle}"></div>
    <div>내용</div>
    <textarea name="" id="" cols="30" rows="10" th:field="*{bcontent}"></textarea>
    <div class="fieldError" th:errors="*{bcontent}"></div>
    <div>
      <button type="submit">저장</button>
      <button id="cancelBtn" type="button" th:data-bnum="*{bnum}">취소</button>
    </div>
  </form>
</div>
<script>
  //취소 버튼
  cancelBtn.addEventListener('click', e=>{
    const bnum = e.target.dataset.bnum;
    const url = `/board/${bnum}/detail`;
    location.href = url;
  });
</script>
</body>
</html>