<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/mainDetail::main(
        ~{::title},
        _,
        ~{},
        ~{::link},
        ~{},
        _,
        _,
        ~{::.form},
        _
      )}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>리ː플 | 게시판</title>
  <link rel="stylesheet" href="" th:href="@{/css/board/listForm.css}">
</head>
<body>

<!--form-->
<div class="form">

  <!--wrap-->
  <div class="wrap">

    <!--1. 제목-->
    <h3>게시판</h3>
    <hr>

    <!--2. 전체목록-->
    <table>
      <!--테이블헤드-->
      <thead>
        <tr>
          <th>no</th>
          <th>제목</th>
          <th>작성자</th>
          <th>작성일</th>
          <th>조회수</th>
        </tr>
      </thead>
      <!--테이블바디-->
      <tbody>
        <block th:each="item : ${items}">
          <tr>
            <td th:text="${itemStat.size - itemStat.index}" class="num">NO</td>
            <td class="title"><a th:href="@{|/board/${item.bnum}/detail|}" th:text="${item.btitle}">제목</a></td>
            <td th:text="${item.nickname}" class="nickname">작성자</td>
            <td th:text="${item.budate}" class="date">작성일</td>
            <td th:text="${item.bhit}" class="hit">조회수</td>
          </tr>
        </block>
      </tbody>
    </table>
    <hr>

    <!--3. 글쓰기버튼-->
    <button class="btn" id="writeBtn" type="button" onclick="location.href='/board/add'">글쓰기</button>

  </div>
</div>
</body>
</html>
