<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/mainDetail::main(
                  ~{::title},
                  _,
                  ~{},
                  ~{::link},
                  ~{},
                  _,
                  _,
                  ~{::.form},
                  _
                )}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>아이디 찾기</title>
  <link rel="stylesheet" th:href="@{/css/member/signup/signupForm.css}">
  
</head>
<body>

  <div class="form"> 

    <form >

      <h3>아이디 찾기 결과</h3>
      <p>        
      </p>

      <table>

        <tr>
          <td>찾으시는 아이디는</td>
          <td>
            <!-- <div class="textForm">

              <p th:text="*{fId}" th:class="${#fields.hasErrors('fId') ? 'fieldError' : 'fieldSuccess'}">

              </p>

          </div>
          
 -->
          </td>
          <td>          
            <p th:if="${#fields.hasErrors('${findIdReq}')}"></p>
            <p th:errors="${findIdReq}" th:errorclass="globalError"></p>

            
            <!-- <p th:if="${#fields.hasErrors('fId')}"></p>
            <p th:errors="*{fId}" th:errorclass="fieldError"></p> -->
          </td>
          <td>
            <p th:if="${#fields.hasErrors('${findPwReq}')}"></p>
            <p th:errors="${findPwReq}" th:errorclass="globalError"></p>

          </td>
        </tr>



      </table>








    </form>






  </div>

  
</body>
</html>
