<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/mainDetail::main(
        ~{::title},
        _,
        ~{},
        ~{::link},
         ~{::script},
        _,
        _,
        ~{::.form},
        _
      )}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시글보기</title>
  <link rel="stylesheet" href="../css/notice/noticeDetailForm.css" th:href="@{/css/notice/noticeDetailForm.css}">
  <script defer th:src="@{/js/common/ckeditor.js}"></script>
  <script defer src="/js/notice/noticeDetailForm.js"></script>
  <script src="https://kit.fontawesome.com/4ee0f83e5d.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="form">
  <div class="wrap">
    <div class="class-body">
      <form th:action th:method="delete" th:object="${noticeDetailForm}" th:data-n-num="*{nNum}" enctype="multipart/form-data">
        <input type="hidden" th:field="*{nNum}">
        <div class="notice-title">
          <div>게시글></div>
          <h3>[[*{nTitle}]]</h3>
          <div>
          <span class="notice-info notice-nickname">관리자</span>
          <sapn class="notice-info notice-budate" th:text="|작성일 *{nUDate}|"></sapn>
          <span class="notice-info notice-nhit" th:text="|조회수 *{nHit}|"></span>
        </div>
        </div>
        <hr>

<!--        <br>-->

        <!--게시글 본문-->
        <div class="notice-content">
          <div><textarea name="" id="" cols="30" rows="10" class="w100" th:field="*{nContent}" th:readonly="readonly"></textarea></div>
        </div>
<!--        <br>-->

        <!--파일첨부-->
        <div class="notice-file">
        <input type="checkbox" id="checkbox">
        <div id="accordion"><label for="checkbox"><i class="fa-solid fa-angle-down"></i>파일첨부</label></div>
        <div id="accordion-item">
          <div th:each="file : ${attachFiles}">
            <a href="" th:href="@{|/attach/down/${file.fnum}|}" th:text="${file.upload_filename}"></a>
            <th:block th:if="${#strings.contains(file.ftype,'image')}" >
              <img th:src="@{|/attach/view/${file.fnum}|}" th:width="30px" th:height="30px">
            </th:block>
          </div>
        </div>
        </div>

<!--        <br>-->

        <!--버튼-->
        <div class="notice-button">
          <!--글작성자가 관리지일때만 수행-->
          <th:block th:if="${s_email == 'admin@test.com'} ">
          <button type="button" id="editBtn">수정</button>
          <button type="button" id="delBtn">삭제</button>
          </th:block>
          <button type="button" id="listBtn" th:onclick="|location.href='@{/notices/all/{reqPage}(reqPage=${fc.rc.reqPage})}'|">목록</button>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>