<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/mainDetail::main(
        ~{::title},
        _,
        ~{},
        ~{::link},
         ~{::script},
        _,
        _,
        ~{::main},
        _
      )}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시글보기</title>
  <link rel="stylesheet" href="../css/notice/noticeDetailForm.css" th:href="@{/css/notice/noticeDetailForm.css}">
  <script defer th:src="@{/js/common/ckeditor.js}"></script>
  <script defer src="/js/notice/noticeDetailForm.js"></script>
  <script src="https://kit.fontawesome.com/4ee0f83e5d.js" crossorigin="anonymous"></script>
</head>
<body>
<main>
  <div class="notice-wrap">
    <div class="notice-title"><h3>게시글 보기</h3></div>
    <div class="class-body">
      <form th:action th:method="delete" th:object="${noticeDetailForm}" th:data-n-num="*{nNum}">
        <input type="hidden" th:field="*{nNum}">
        <!--        <input type="hidden" id="noticeId" name="noticeId" value="xxx">-->
        <div class="notice-info">
          <div>관리자</div>
          <sapn class="date">[[*{nUDate}]]</sapn>
          <span class="notice-hit-content notice-hit-tit">조회수</span>
          <span class="notice-hit-content notice-hit-cnt" th:text="*{nHit}">10</span>
        </div>
        <div class="notice-content">
          <div><lable>제목:</lable></div>
          <span class="w100">[[*{nTitle}]]</span>
          <div><lable>내용</lable></div>

          <div><textarea name="" id="" rows="10" class="w100" th:field="*{nContent}" th:readonly="readonly"></textarea></div>
        </div>

        <!--5. 파일첨부-->
        <input type="checkbox" id="checkbox">
        <div id="accordion"><label for="checkbox"><i class="fa-solid fa-angle-down"></i>파일첨부</label></div>
        <div id="accordion-item">
          <div th:each="file : ${attachFiles}">
            <a href="" th:href="@{|/attach/down/${file.fnum}|}" th:text="${file.upload_filename}"></a>
            <th:block th:if="${#strings.contains(file.ftype,'image')}" >
              <img th:src="@{|/attach/view/${file.fnum}|}" th:width="30px" th:height="30px">
            </th:block>
          </div>
        </div>

        <div class="notice-btngrp">
          <!--글작성자가 관리지일때만 수행-->
          <button type="button" id="editBtn" th:block th:if="${s_email == 'admin@test.com'}">수정</button>
          <button type="button" id="delBtn" th:block th:if="${s_email == 'admin@test.com'}">삭제</button>
          </th:block>
          <!-------------------------------------------->
          <button type="button" id="listBtn" onclick="location.href = `/notices/all`;">목록</button>
        </div>
      </form>
    </div>
  </div>
</main>
</body>
</html>