<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>공지사항 등록</title>
  <link rel="stylesheet" href="../css/notice/noticeAddForm.css" th:href="@{/css/notice/noticeAddForm.css}">
  <script defer src="/js/notice/noticeAddForm.js"></script>
</head>
<body>
<div class="wrap">
  <div class="content">
    <h3>공지사항 등록</h3>
    <hr>
    <form th:action th:method="post" th:object="${noticeAddForm}">
      <ul>
        <li>
          <span>제목</span>
          <input type="text" id="nTitle" th:field="*{nTitle}">
        </li>
        <li>
          <span>내용</span>
          <textarea id="nContent" cols="30" rows="10" th:field="*{nContent}"></textarea>
        </li>
        <li>
          <button type="button" id="writeBtn">등록</button>
          <button type="button" id="cancelBtn">취소</button>
          <button type="button" id="listBtn">목록</button>
        </li>
      </ul>
    </form>
  </div>
</div>
</body>
</html>