<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/mainDetail::main(
        ~{::title},
        _,
        ~{},
        ~{::link},
        ~{::script},
        _,
        _,
        ~{::main},
        _
      )}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>공지사항 수정</title>
  <link rel="stylesheet" href="../css/notice/noticeEditForm.css" th:href="@{/css/notice/noticeEditForm.css}">
  <script defer src="/js/notice/noticeEditForm.js"></script>
</head>
<body>
<main>
<div class="wrap">
  <div class="content">
    <h3>공지사항 수정</h3>
    <hr>
    <form th:action th:method="patch" th:object="${noticeEditForm}"
          th:data-n-num="*{nNum}">
      <input type="hidden" th:field="*{nNum}">
      <ul>
        <li>
          <span>제목</span>
          <input type="text" id="nEditTitle" th:field="*{nTitle}">
        </li>
        <li>
          <span>내용</span>
          <textarea id="nEditContent" cols="30" rows="10" th:field="*{nContent}"></textarea>
        </li>
        <li>
          <button type="button" id="modifyBtn">저장</button>
          <button type="button" id="cancelBtn">취소</button>
        </li>
      </ul>
    </form>
  </div>
</div>
</main>
</body>
</html>