@charset "utf-8";

/*폰트*/
/*카페24 고운밤*/
@font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*body 글꼴*/
body{
    margin: 0;
    font-family: 'Cafe24Oneprettynight';
    font-weight: bold;
}
/*.form 글꼴*/
main{
    font-size: 20px;
    font-weight: normal;
}

/*.form 공통*/
main button{
    font-family: 'Cafe24Oneprettynight';
    font-size: 20px;
    background-color: #f3f3f3;
    margin: 0px;
    padding: 0px;
    border: 0px;
    height: 30px;
    width: 70px;
    cursor: pointer;
    border-radius: 5px;
}
main button:hover{
    background-color: gray;
    color: white;
}

main a{
    text-decoration: none;
    color: black;
}

main a:hover{
    text-decoration: underline;
}

main textarea{
    resize: none;
}


     from {
     width: 1024px;
     padding: 42px;

       /*outline: 1px solid red;*/
     }
    .qna-wrap * {
       /*outline: 1px solid red;*/
      box-sizing: border-box;
    }
    .qna-wrap {
     width: 940px;
    }

    .qna-wrap .qna-title {
     text-align: center;
     padding: 20px 0;
    }

    .qna-wrap .qna-content table {
      width: 100%;
      border-top: 2px solid #333;
      border-bottom: 2px solid #333;
      border-collapse: collapse;
    }

    .qna-wrap .qna-content table th,
    .qna-wrap .qna-content table td {
      border-bottom: 1px solid #333;
      padding: 3px;
    }

    .qna-wrap .qna-content table>thead>tr th:nth-child(2) {
      width: 50%;
    }

    #qna-name,
    #qna-date {
      text-align: center;
    }

    .qna-wrap .qna-content table>tbody>tr>td:first-child,
    .qna-wrap .qna-content table>tbody>tr>td:last-child {
      text-align: center;
    }

    .qna-wrap .qna-btngrp {
      display: flex;
      justify-content: flex-end;
    }

    .qna-wrap .qna-page {
      display: flex;
      justify-content: center;
      padding: 20px 0;
    }
    .qna-wrap .qna-page .qna-page-item{
      display:inline-block;
      width:24px;
      height:24px;
      padding:2px;
      text-align: center;
    }

    .qna-wrap .qna-page .qna-page-item.active{
      background-color:#333;
      color:white;
    }

     .qna-wrap .qna-search {
          display: flex;
          justify-content: center;
      }


a {text-decoration: none; color:inherit;}

