@charset "utf-8";

     main {
            display:flex; justify-content:center;
            /* outline: 1px solid red; */
            }
    .qna-wrap * {
      /* outline: 1px solid red;*/
      box-sizing: border-box;
    }
    .qna-wrap {
     width: 90%
    }

    .qna-wrap .qna-title {
     text-align: center;
     padding: 20px 0;
    }

    .qna-wrap .qna-content table {
      width: 100%;
      border: 1px solid #333;
      border-collapse: collapse;
    }

    .qna-wrap .qna-content table th,
    .qna-wrap .qna-content table td {
      border: 1px solid #333;
      padding: 3px;
    }

    .qna-wrap .qna-content table>thead>tr th:nth-child(2) {
      width: 50%;
      background: yellow;
    }

    .qna-wrap .qna-content table>tbody>tr>td:first-child,
    .qna-wrap .qna-content table>tbody>tr>td:last-child {
      text-align: right;
    }

    .qna-wrap .qna-btngrp {
      display: flex;
      justify-content: flex-end;
    }

    .qna-wrap .qna-page {
      display: flex;
      justify-content: center;
      padding: 20px 0;
    }

a {text-decoration: none; color:inherit;}

    .qna-wrap .qna-search {
      display: flex;
      justify-content: center;
    }