@charset "utf-8";

   form {
      width: 1024px;
      padding: 42px;
    }
    .qna-wrap * {
      /* outline:1px solid red;*/
      box-sizing: border-box;
    }
    .qna-wrap {
        width: 940px;
     }
    .qna-wrap .qna-title {
      text-align: center; padding:20px 0;
    }
    .qna-wrap .qna-content{
      display: grid;
      grid-template-columns: 50px 1fr;
       /*nav
       gap: 1px;간격*/
    }
    .qna-wrap .qna-content .w100{
      width:100%; padding:3px;
    }
    .qna-wrap .qna-btngrp{
      display:flex;
      justify-content: flex-end;
    }
    .fieldError {
     color:red;
    }