<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원 전체조회</title>
  <style>
    .first-row{
      background-Color:yellow;
    }
  </style>
</head>

<body>
  <h3>회원 전체 조회</h3>
  <hr>
  <!--<div>[[${memberAll}]]</div>-->
  <table>
    <thead>
      <tr>
        <th>NO</th>
        <th>ID</th>
        <th>이름</th>
        <th>email</th>
        <th>별칭</th>
        <th>가입일</th>
        <th>탈퇴여부</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="member : ${memberAll}">
        <th:block th:if="${memberStat.first}">
          <td class="first-row" th:text="${memberStat.count}"></td>
<!--          <td class="first-row" ><a th:href="@{|/admin/member/${member.id}/|}" th:text="${member.id}"></a></td>-->
          <td class="first-row" ><a th:href="@{|/admin/memberdetail/|}" th:text="${member.id}"></a></td>
          <td class="first-row" th:text="${member.name}"></td>
          <td class="first-row" th:text="${member.email}"></td>
          <td class="first-row" th:text="${member.nickname}"></td>
          <td class="first-row" th:text="${member.signup_dt}"></td>
          <td class="first-row" th:text="${member.leave_fl}"></td>
        </th:block>
        <th:block th:unless="${memberStat.first}">
          <td th:text="${memberStat.count}"></td>
<!--          <td> <a th:href="@{|/admin/member/${member.id}/|}" th:text="${member.id}"></a></td>-->
          <td> <a th:href="@{|/admin/memberdetail/|}" th:text="${member.id}"></a></td>
          <td th:text="${member.name}"></td>
          <td th:text="${member.email}"></td>
          <td th:text="${member.nickname}"></td>
          <td th:text="${member.signup_dt}"></td>
          <td th:text="${member.leave_fl}"></td>
        </th:block>
      </tr>
    </tbody>
  </table>

<div>
  <p>
    회원 상세 보기를 실시 할 경우 템플릿 오류로 인하여 진행이 안됨
  </p>
</div>



</body>
</html>