<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/mainDetail::main(
        ~{::title},
        _,
        ~{},
        ~{::link},
        ~{},
        _,
        _,
        ~{::.form},
        _
      )}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원 전체조회</title>
  <link rel="stylesheet" th:href="@{/css/member/adminMemberList.css}">
</head>

<body>

  <div class="form">
      <h3>회원 전체 조회</h3>
      <hr>
      <!--<div>[[${memberAll}]]</div>-->
      <table>
        <thead>
          <tr>
            <th>NO</th>
            <th>ID</th>
            <th>이름</th>
            <th>email</th>
            <th>별칭</th>
            <th>가입일</th>
            <th>탈퇴일</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="member : ${memberAll}">
            <th:block th:if="${memberStat.first}">
              <td class="first-row" th:text="${memberStat.count}"></td>
             <td class="first-row" ><a th:href="@{|/admin/member/${member.id}/|}" th:text="${member.id}"></a></td>              
              <td class="first-row" th:text="${member.name}"></td>
              <td class="first-row" th:text="${member.email}"></td>
              <td class="first-row" th:text="${member.nickname}"></td>
              <td class="first-row" th:text="${member.signup_dt}"></td>
              <td class="first-row" th:text="${member.leave_dt}"></td>
            </th:block>
            <th:block th:unless="${memberStat.first}">
              <td th:text="${memberStat.count}"></td>
             <td> <a th:href="@{|/admin/member/${member.id}/|}" th:text="${member.id}"></a></td>            
              <td th:text="${member.name}"></td>
              <td th:text="${member.email}"></td>
              <td th:text="${member.nickname}"></td>
              <td th:text="${member.signup_dt}"></td>
              <td th:text="${member.leave_fl}"></td>
            </th:block>
          </tr>
        </tbody>
      </table>


  </div>

</body>
</html>