@charset "utf-8";
.wrap{
  padding: 42px;
}
.info-wrap{
    display: flex;
    flex-direction: column;
}
.info-upper{
    display: flex;
    flex-direction: row;
}
.info-content{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
.info-form{
    display: none;
}
.info-link{
    display: flex;
    flex-direction: column;
}

/*리뷰 작성창 헤더*/
.review-header{
    display: flex;
    justify-content: space-between;
}
.review-header>span{
    line-heigth: 42px;
}

/*별점*/
.radioBtn input{
    display: none;
}

.radioBtn{
    direction: rtl;
    display: inline-block;
}

.star-div{
  display: inline-block;
}

.form label{
    font-size: 2em;
    color: transparent;
    color: #f0f0f0;
}
.form label:hover{
    color: rgba(250, 208, 0, 0.99);
}
.form label:hover ~ label{
    color: rgba(250, 208, 0, 0.99);
}
.form input[type=radio]:checked ~ label{
    color: rgba(250, 208, 0, 0.99);
}

/*리뷰 작성창*/
.review-textarea{
    width: 980px;
    heigth: 50px;
}

.reviewWriter{
    margin-bottom: 60px;
}

#addBtn{float: right;}

/*리뷰 목록*/
.review{
    border-bottom: 1px solid gray;
}
.review>div{
    margin: 10px;
}