@charset "utf-8";
.save-up{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.save-body{
    display: flex;
    flex-direction: column;
}
.save-rink{
    display: flex;
    flex-direction: column;
}
.save-rink > img{
    width: 30px;
    height: 30px;
}
