@charset "utf-8";
.wrap{
  margin-top: 25px;
  padding-left: 30px;
  position: relative;
}

.info-wrap{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}
.info-upper{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
}
.info-content{
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    width : 500px;
}

.info-content > div{
    margin-top: 3px;
}
.info-form{
    display: none;
}
.info-link{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
}
.info-link > a{
    margin-top: 3px;
}
.info-body{
    margin-top: 10px;
    margin-bottom: 10px;
}
.info-right{
    display: flex;
    flex-direction: row;
    width: 900px;
    justify-content: space-between;
}
.info-btngrp{
    margin-bottom: 10px;
}
.book-img{
    width: 230px;
    height: 270px;
}
.info-page{
    display:flex;
    flex-direction: column;
    margin-top: 10px;
}

.younpung>span {
    display: inline-block;
    background-image: url(/img/youngpung.png);
    width: 27px;
    height: 27px;
}

.gyobo>span {
    display: inline-block;
    background-image: url(/img/gyobo.png);
    width: 27px;
    height: 27px;
}

.yes>span {
    display: inline-block;
    background-image: url(/img/yes.png);
    width: 27px;
    height: 27px;
}

.alladin>span {
    display: inline-block;
    background-image: url(/img/alladin.png);
    width: 27px;
    height: 27px;
}



/*리뷰 작성창 헤더*/
.review-header{
    display: flex;
    justify-content: space-between;
}
.review-header>span{
    line-heigth: 42px;
}

/*별점*/
.radioBtn input{
    display: none;
}

.radioBtn{
    direction: rtl;
    display: inline-block;
}

.star-div{
  display: inline-block;
}

.form label{
    font-size: 2em;
    color: transparent;
    color: #f0f0f0;
}
.form label:hover{
    color: rgba(250, 208, 0, 0.99);
}
.form label:hover ~ label{
    color: rgba(250, 208, 0, 0.99);
}
.form input[type=radio]:checked ~ label{
    color: rgba(250, 208, 0, 0.99);
}

/*리뷰 작성창*/
.review-textarea{
    width: 980px;
    heigth: 50px;
}

.reviewWriter{
    margin-bottom: 60px;
}

#addBtn{float: right;}

/*리뷰 목록*/
.review{
    border-bottom: 1px solid gray;
}
.review>div{
    margin: 10px;
}