.wrap{
  margin-top: 25px;
  padding-left: 30px;
  position: relative;
}

.shelf-wrap{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 230px 230px 230px 230px;
  margin-top: 30px;
}
.book-title{
  height: 20px;
  width: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
.book-Img{
  width: 130px;
  height: 150px;
}
.empty-Img{
  width: 130px;
  height: 150px;
  background-image: url(/img/emptybook.png);
  background-size: cover;
}
.bar1{
  position: absolute;
  //border: solid 1px burlywood;
  width: 1030px;
  height: 20px;
  background-color: darkgray;
  opacity: 0.5;
  left: 20px;
  top: 255px;
}
.bar2{
  position: absolute;
  //border: solid 1px burlywood;
  width: 1030px;
  height: 20px;
  background-color: darkgray;
  opacity: 0.5;
  left: 20px;
  top: 485px;
}
.bar3{
  position: absolute;
  //border: solid 1px burlywood;
  width: 1030px;
  height: 20px;
  background-color: darkgray;
  opacity: 0.5;
  left: 20px;
  top: 715px;
}
.bar4{
  position: absolute;
  //border: solid 1px burlywood;
  width: 1030px;
  height: 20px;
  background-color: darkgray;
  opacity: 0.5;
  left: 20px;
  top: 945px;
}