<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/mainDetail::main(
                    ~{::title},
                    _,
                    ~{},
                    ~{::link},
                    ~{::script},
                    _,
                    _,
                    ~{::.form},
                    _
                  )}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원가입완료</title>
  <link rel="stylesheet" th:href="@{/css/signup/signupSuccess.css}">
  <script defer th:src="@{/js/signup/signupSuccess.js}"></script>
</head>
<body>

  <div class="form">


    <form class="signupSuccessForm" >

      <h3>회원가입완료</h3>

      <br>
      <p>
      </p>
  
        <p class="success">회원가입 처리되었습니다.</p>

      <br>
      <div class="btn_login_success_group"> 
        <button id="cancelBtn" type="button" onclick="location.href='/login'">로그인</button> 
        <button id="cancelBtn" type="button" onclick="location.href='/'">취소</button>         
      </div>
      <br>
      <div>
        <a href="#" th:href="@{/memberexist/findid}">아이디찾기</a>
        <a href="#" th:href="@{/memberexist/findpw}">비밀번호찾기</a>
      </div>

    </form>






    
  </div>


  
</body>
</html>