<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

  <title>회원정보 수정</title>

</head>
<body>

<main>
  <div>

    <form  th:method="patch" th:action="@{/member/edit}" th:object="${editForm}" >

      <ul>
        <li class="title"><h1 class="title">회원 수정</h1></li>

        <li><label for="id" class="form-label">아이디</label></li>
        <li><input id="id" class="form-control" type="text" th:field="*{id}" readonly/></li>
        <li><label for="pw" class="form-label">비밀번호</label></li>
        <li><input id="pw" class="form-control" type="password" th:field="*{pw}"/></li>
        <li th:errors="*{pw}" th:errorclass="field-msg"></li>
        <li><label class="form-label" for="pwChk">비밀번호 확인</label></li>
        <li><input id="pwChk" class="form-control" type="password" th:field="*{pwChk}"></li>
        <li th:errors="*{pwChk}" th:errorclass="field-msg"></li>

        <li><label class="form-label" for="name">이름</label></li>
        <li><input class="form-control" type="text"  th:field="*{name}" readonly/></li>

        <li><label class="form-label" for="nickname">닉네임</label></li>
        <li><input class="form-control" type="text" name="nickname" th:field="*{nickname}" /></li>
        <li th:errors="*{nickname}" th:errorclass="field-msg"></li>

        <li><label class="form-label" for="email">이메일</label></li>
        <li><input class="form-control" type="text" name="email" th:field="*{email}" /></li>
        <li th:errors="*{email}" th:errorclass="field-msg"></li>

        <li class=button>
          <button class="btn btn-success btn-block" type="submit" onclick="return confirm('정말로 수정 하시겠습니까?')" id="modifyBtn">수정하기</button>
          <button class="btn btn-success btn-block" type="reset" onclick="location.href='/'">취소</button>
<!--          <button class="btn btn-success btn-block" type="submit" th:formaction="@{/member/out}" onclick="return confirm('정말로 탈퇴 하시겠습니까?')">탈퇴</button>-->
        </li>
      </ul>
    </form>
  </div>
</main>


<!--<footer th:replace="/fragment/fragment_footer :: fragment_footer">-->
<!--  연습용 빈 footer입니다.-->

<script>
  console.log(${editForm});
</script>
</body>
</html>


