<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/mainDetail::main(
        ~{::title},
        _,
        ~{},
        ~{::link},
        ~{::script},
        _,
        _,
        ~{::main},
        _
      )}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시글 작성</title>
  <link rel="stylesheet" href="" th:href="@{/css/qna/qnaAddForm.css}">
  <script defer th:src="@{/js/common/ckeditor.js}"></script>
  <script defer src="" th:src="@{/js/qna/qnaAddForm.js}"></script>
  <script src="https://kit.fontawesome.com/4ee0f83e5d.js" crossorigin="anonymous"></script>
</head>
<body>
<main>
  <div class="qna-wrap">
    <div class="qna-title"><h3>게시글 작성</h3></div>
    <div class="class-body">
      <form id="writeForm" action="" method="post" th:object="${qnaAddForm}" enctype="multipart/form-data">
        <input type="hidden" th:field="*{qEmail}">
        <input type="hidden" th:field="*{qNickname}">
        <div class="qna-content">
          <div><lable>제목</lable></div>
          <div><input type="text" name="" id="" class="w100" th:field="*{qTitle}">
            <div class="fieldError" th:errors="*{qTitle}"></div>
          </div>
          <div><lable>작성자</lable></div>
          <!--                <div><span th:text="|*{nickname} ( *{email} )|"></span>-->
          <div><span th:if="${!session.isEmpty()}" th:text="${session.loginMember.nickname}"></span>
            <div><lable>내용</lable></div>
            <div><textarea name="" id="" rows="10" class="w100" th:field="*{qContent}"></textarea>
              <div class="fieldError" th:errors="*{qContent}"></div>
            </div>
            <!--파일첨부-->
            <input type="checkbox" id="checkbox">
            <div id="accordion"><label for="checkbox"><i class="fa-solid fa-angle-down"></i>파일첨부</label></div>
            <div id="accordion-item">
              <input type="file" th:field="*{files}" multiple>
            </div>

<!--            <div><lable>첨부</lable></div>-->
<!--            <div><input type="file" name="" id="" class="w100" multiple></div>-->
<!--          </div>-->
      </form>
    </div>
    <div class="qna-btngrp">
      <button type="button" id="writeBtn">등록</button>
      <button type="button" id="listBtn">목록</button>
    </div>
  </div>
</main>
</body>
</html>
