<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/mainDetail::main(
        ~{::title},
        _,
        ~{},
        ~{::link},
        ~{::script},
        _,
        _,
        ~{::.form},
        _
      )}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>리ː플 | Q&A</title>
  <link rel="stylesheet" href="" th:href="@{/css/qna/qnaList.css}">
  <script defer src="" th:src="@{/js/qna/qnaList.js}"></script>
</head>
<body>
<div class="form">
  <div class="wrap">
    <!--제목-->
    <h3>Q&A</h3>
    <!--    <hr>-->
    <!--전체목록-->
        <table>
          <!--테이블헤드-->
          <thead>
          <tr>
            <th class="th1">no</th>
            <th class="th2">제목</th>
            <th class="th3">작성자</th>
            <th class="th4">작성일</th>
            <th class="th5">조회수</th>
          </tr>
          </thead>
          <!--테이블바디-->
          <tbody>
          <tr th:each="item : ${list}">
            <th:block th:if="${item.qIndent} == 0">
              <td class="num" th:text="${item.qNum}"></td>
            </th:block>
            <th:block th:if="${item.qIndent} > 0">
              <td></td>
            </th:block>
            <td class="title">
              <!--들여쓰기-->
              <th:block th:if="${item.qIndent} > 0">
                <!--                  컬렉션없이 단순 반복 처리하고자할때 -->
                <!--                  Create a sequence (array) of integer numbers going from x to y -->
                <!--                  ${#numbers.sequence(from,to)}-->
                <span th:each="cnt : ${#numbers.sequence(1,item.qIndent)}">&nbsp;&nbsp;</span>
              </th:block>
              <a href="" th:href="@{|/qna/${item.qNum}|}" th:text="${item.qTitle}">제목</a>
            </td>
            <td class="nickname" th:text="${item.qNickname}">작성자1</td>
            <td class="date" th:text="*{item.qUDate}">작성일1</td>
            <td class="hit" th:text="${item.qHit}">5</td>
          </tr>
          </tbody>
        </table>

      <!-- 글쓰기버튼-->
      <div class="qna-button">
        <button class="btn" type="botton" id="writeBtn">문의하기</button>
      </div>

    <!--페이징 버튼-->
      <div class="qna-page">

        <!--이전페이지정보-->
        <th:block th:if="${fc.prev}">
          <a class="qna-page-item" href="" th:href="@{/qna/list/1}"><<</a>
          <a class="qna-page-item" href="" th:href="@{/qna/list/{reqPage}(reqPage=${fc.startPage-1})}"><</a>
        </th:block>

        <!--페이지표시-->
        <th:block th:each="pnum : ${#numbers.sequence(fc.startPage,fc.endPage)}">
          <th:block th:if="${pnum != 0}">
            <a class="qna-page-item" th:classappend="${fc.rc.reqPage == pnum} ? 'active'" href="" th:href="@{/qna/list/{reqPage}(reqPage=${pnum})}" th:text="${pnum}">1</a>
          </th:block>
        </th:block>

        <!--다음페이지정보-->
        <th:block th:if="${fc.next}">
          <a class="qna-page-item" href="" th:href="@{/qna/list/{reqPage}(reqPage=${fc.endPage+1})}">></a>
          <a class="qna-page-item" href="" th:href="@{/qna/list/{reqPage}(reqPage=${fc.finalEndPage})}">>></a>
        </th:block>
      </div>

      <!--검색-->
      <div class="qna-search">
        <select id="searchType" name="searchType" th:field="${fc.searchType}">
          <option th:value="TC">제목+내용</option>
          <option th:value="T">제목</option>
          <option th:value="C">내용</option>
          <option th:value="N">닉네임</option>
        </select>
        <input type="text" id="keyword" name="keyword" th:field="${fc.keyword}">
        <button id="searchBtn">검색</button>
      </div>

  </div>
</div>
</body>
</html>