<!DOCTYPE html>

<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/mainDetail::main(
        ~{::title},
        _,
        ~{},
        ~{::link},
        ~{::script},
        _,
        _,
        ~{::.form},
        _
      )}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>게시글 답글 작성</title>
  <link rel="stylesheet" href="" th:href="@{/css/qna/qnaReplyForm.css}">
  <script defer th:src="@{/js/common/ckeditor.js}"></script>
  <script defer src="" th:src="@{/js/qna/qnaReplyForm.js}"></script>
</head>
<body>
<div class="form">
  <div class="wrap" th:data-page="${fc.rc.reqPage}">
    <h3>답글 작성</h3>
    <div id="container">
      <form id="writeForm" action="" method="post" th:object="${qnaReplyForm}" enctype="multipart/form-data">
        <input type="hidden" th:field="*{qNickname}">

        <!--게시글 제목-->
        <div class="qna-title">
          <div>제목</div>
          <input class="title" type="text" th:field="*{qTitle}" placeholder="제목을 입력하세요(0 ~ 20자)" autofocus>
          <div class="fieldError" th:errors="*{qTitle}"></div>
          </div>

        <!--게시글 본문-->
        <div class="qna-content">
          <div>내용</div>
          <textarea name="" id="" cols="30" rows="10"  th:field="*{qContent}" placeholder="내용을 입력하세요(0 ~ 1000자)"></textarea>
          <div class="fieldError" th:errors="*{qContent}"></div>
        </div>

          <!--파일첨부-->
        <div class="qna-file">
          <input type="checkbox" id="checkbox">
          <div id="accordion"><label for="checkbox"><i class="fa-solid fa-angle-down"></i>파일첨부</label></div>
          <div id="accordion-item">
            <input type="file" th:field="*{files}" multiple>
          </div>
        </div>
        <!--버튼-->
          <div class="qna-button">
            <div>
            <button type="button" id="writeBtn">등록</button>
            <button type="button" id="cancelBtn">취소</button>
            </div>
          </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>