*{
margin : 0;
padding : 0;
}

@font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

            @-webkit-keyframes AnimationName{
                0%{background-position:0% 50%}
                50%{background-position:100% 50%}
                100%{background-position:0% 50%}
            }

            @-moz-keyframes AnimationName {
                0%{background-position:0% 50%}
                50%{background-position:100% 50%}
                100%{background-position:0% 50%}
            }

            @-o-keyframes AnimationName {
                0%{background-position:0% 50%}
                50%{background-position:100% 50%}
                100%{background-position:0% 50%}
            }

            @keyframes AnimationName {
                0%{background-position:0% 50%}
                50%{background-position:100% 50%}
                100%{background-position:0% 50%}
            }


        body{
        color: #fff;
        //background: linear-gradient(-45deg, #ee7752,#e73c7e, #23a6d5, #23d5ab);
        background: linear-gradient(-45deg, #ada996,#f2f2f2, #dbdbdb, #eaeaea);
        background-size: 400% 400%;
        animation: AnimationName 15s ease infinite;
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 35%;
        text-align: center;
        margin: 0;
        font-family: 'Cafe24Oneprettynight';
        font-weight: bold;
        }

        .upper {
            height: 35px;
            width: 100%;
            display: flex;
            justify-content: center;
            /* background-color: #edeeb4; */
            position: sticky;
            top: 0;
        }

        .upper > .upper-second{
            width: 1280px;
            display: flex;
            justify-content: space-between;
        }

        .upper-left{
            width: 320px;
            height: 35px;
            display: flex;
            background-color: white;
            border: solid 0.5px black;
            border-radius: 5px;
        }

        .upper-left > input{
            text-align: center;
            border: none;
            border-radius: 5px;
            width: 300px;
        }

        .upper-left > a{
            padding-top: 8px;
        }
        .upper-right{
            width: 300px;
            font-weight: bolder;
            display: flex;
            justify-content: space-between;
        }

       .uname{
            color: darkgray;
            line-height: 35px;
       }

        main{
            display: flex;
            justify-content: center;
            align-items: center;

        }

        span{
            font-weight: bold;
            color: white;
            line-height: 35px;
        }

        .containner{

            width: 1280px; height: 890px;
            display: flex;
            justify-content:center;
            align-items:center

        }

        .center{
            width: 80%; height: 80%;
        }

        .center-item1{
            height: 40%;
            text-align: center;
            font-size: 12em;
        }

        .center-item2{
            height: 60%;
        }

        .category{
            display: grid;
            justify-content: center;
            grid-template-columns: 160px 150px 160px;

            grid-column-gap : 30px;
            grid-row-gap: 70px;
        }

        .icon{
            display: flex;
            text-decoration: none;
            padding: 15px;
        }

        i{
            position: absolute;
            color: darkgrey;
            transition-duration: 1s;
        }

        .explain{
            opacity: 0;
            font-size: 3em;
            font-weight: bold;
            line-height : 3em;
            color: darkgray;
            z-index: 1;
        }

        .icon:hover .explain{
            opacity: 1;
            transition-duration: 1s;
        }

        .icon:hover i{
            display: none;
        }

        .dropdown{
            position : relative;
            display : inline-block;
            text-align : center;
            width:40%;
        }

        .dropdown .dropbtn{
            color: darkgray;
            margin-left: 10px;
        }

        .dropdown-content{
            display : none;
            position : absolute;
            z-index : 1;
        }

        .dropdown-content > a{
            color:darkgray;
            text-decoration-line: none;
            display : inline-block;
            text-align : center;
        }

        .dropdown-content a:hover{
            background-color: rgba(90, 83, 83, 0.726);
            border-radius : 10px;
            padding : 10px;
            color : whitesmoke;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }

        .footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            height: 35px;
            background-color: rgb(105,105,105);
        }

        .upper-right>span>a{
            color: darkgray;
            text-decoration: none;
        }