<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{fragment/mainDetail::main(
        ~{::title},
        _,
        ~{},
        ~{::link},
        ~{::script},
        _,
        _,
        ~{::.form},
        _
      )}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>지도 검색</title>
  <link rel="stylesheet" th:href="@{/css/map/map.css}">
  <script type="text/javascript"
          src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=9up8yydkdz"></script>
  <script type="text/javascript"
          src="//dapi.kakao.com/v2/maps/sdk.js?appkey=49895abb231e0b1e55acae2617850b5a&libraries=services"></script>
  <script src="https://kit.fontawesome.com/0ed864a7e5.js" crossorigin="anonymous"></script>
  <script defer th:src="@{/js/map/map.js}"></script>
</head>
<body>

<!--form-->
<div class="form">

  <!--wrap-->
  <div class="wrap">

    <!--제목-->
    <h3>지도검색</h3>

    <!--검색창-->
    <div class="mapSearch">
      <!--드롭다운-->
      <select name="" id="city" onchange="gugunChange(this)">
        <option>--시/도--</option>
        <option value="서울">서울특별시</option>
        <option value="부산">부산광역시</option>
        <option value="대구">대구광역시</option>
        <option value="인천">인천광역시</option>
        <option value="광주">광주광역시</option>
        <option value="대전">대전광역시</option>
        <option value="울산">울산광역시</option>
        <option value="경기">경기도</option>
        <option value="강원">강원도</option>
        <option value="충남">충청남도</option>
        <option value="충북">충청북도</option>
        <option value="전남">전라남도</option>
        <option value="전북">전라북도</option>
        <option value="경남">경상남도</option>
        <option value="경북">경상북도</option>
        <option value="제주">제주특별시</option>
        <option value="세종특별자치시">세종특별자치시</option>
      </select>
      <select name="" id="state">
        <option onload="">--시/군/구--</option>
      </select>

      <!--버튼-->
      <div class="place">
        <button id="library">도서관</button>
        <button id="bookstore">서점</button>
      </div>
    </div>

    <!--카카오지도-->
    <div class="map-wrap">
      <div id="map"></div>
    </div>

  </div>
</div>
</body>
</html>