@charset "utf-8";

/*
  div#container{
    width: 800px;
    border: 1px solid #ebecef;
    border-radius: 6px;
    padding: 29px 29px 0;
  }
  button{
    margin-bottom: 10px;
    cursor: pointer;
    border: none;
    padding: 5px 20px;
    border-radius: 6px;
    font-weight: bolder;
    font-size: medium;
  }
  */
.wrap{
  padding: 42px;
}

/*제목*/
.board-title{
  margin-bottom: 20px;
}

.board-title>input{
  height: 30px;
  width: 986px;
  box-sizing: border-box;
}

/*본문*/
.board-content{
  margin-bottom: 20px;
}

/*버튼*/
.form .board-button{
  display: flex;
  justify-content: end;
}
.form .board-button button{
  margin-left: 10px;
}

/*------첨부파일 접었다 펴기------*/
.board-file{
  margin: 0px 10px;
  margin-bottom: 20px;
}

#checkbox{
  display: none;
}

#accordion>label{
  cursor:pointer;
}

#accordion-item{
  max-height: 0;
  transition: all .35s;
  overflow: hidden;

  margin: 0px 20px;
  background-color: #F3F3F3;
  border-radius: 5px;
}

#accordion-item>div{
  padding: 10px 20px;
}

#checkbox:checked ~ #accordion-item{
  max-height: fit-content;
  min-height: 42px;
}
#checkbox:checked + #accordion i{
  transform: rotate( -180deg );
}

/* ckeditor style 지정 */
#bcontent {display:none;}
.ck-editor__editable{min-height:20rem;}