@charset "utf-8";
/*
.form{
  width: 1024px;
  padding: 42px;
}
*/
.wrap{
  padding: 42px;
}


/*
.form h3{
  margin: 0px 0px 30px 0px;
}
.form .board-wrap{
  width: 800px;
  border: 1px solid #ebecef;
  border-radius: 6px;
  padding: 29px 29px 0;
}
.form hr{
  border: 1px solid #ebecef;
}
.form table{
  border-collapse: collapse;
  margin-bottom: 10px;
}
.form tr{
  border-bottom: 1px solid #ebecef;
  height: 36.5px;
}
.form td.num{width: 50px; text-align: center;}
.form td.title{width: 500px;}
.form td.nickname{width: 100px; text-align: center;}
.form td.date{width: 100px; text-align: center;}
.form td.hit{width: 50px; text-align: center;}
.form a{margin-left: 50px}
.form .board-btn{
  margin-bottom: 10px;
}
.form .btn{
  cursor: pointer;
  border: none;
  padding: 5px 20px;
  border-radius: 6px;
  font-weight: bolder;
  font-size: medium;
}
*/